body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f4f8;
    margin: 20px;
    color: #333;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-container input,
.filter-container select {
    padding: 12px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    font-size: 16px;
    transition: border 0.2s;
}

.filter-container input:focus,
.filter-container select:focus {
    border-color: #28a745;
    outline: none;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.game-card {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 15px;
    width: 32%; /* Alterado para melhor responsividade */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.game-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover; /* Mantém a proporção da imagem */
}

.game-title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    color: #444;
}

.game-categories {
    font-size: 14px; /* Aumentado para melhor legibilidade */
    color: #777;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #218838;
    transform: translateY(-2px); /* Efeito de elevação */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative; /* antes era absolute */
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 30px;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal iframe {
    width: 340px;
    height: 600px;
    border: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-btn:hover {
    background-color: #e60000;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

iframe {
    width: 340px;
    height: 600px;
    border: none;
    border-radius: 8px; /* Borda arredondada para o iframe */
}
